$maxWidth: 65%;
$minWidth: 5px;

@keyframes pull{
    0% {
        right: -($maxWidth);
    }
    100% {
        right: $minWidth;
    }
}

@-webkit-keyframes pull {
    0% {
        right: -($maxWidth);
    }
    100% {
        right: $minWidth;
    }
}
@keyframes push {
    0% {
        right: $minWidth;
    }
    100% {
        right: -($maxWidth);
    }
}

@-webkit-keyframes push {
    0% {
        right: $minWidth;
    }
    100% {
        right: -($maxWidth);
    }
}

@keyframes pullIcon{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
@-webkit-keyframes pullIcon {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(720deg);
  }
}

@keyframes pushIcon{
    0% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes pushIcon{
    0% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
