@import "./animation";
@import "./socialFonts";
@import "./gPlus";


.sidebar {
  background: transparent;
  display: inline-block;
  position: fixed;
  margin: 0px 15px;
  cursor: pointer;
  width: auto;
  z-index: 10000009922;
  position: fixed;
  top: 15%;

  .gplus.title-icon{
    animation: pushIcon 1s forwards;
    -webkit-animation: pushIcon 1s forwards;
  }
  .gplus.title-icon.pullIcon{
    animation: pullIcon 1s forwards;
    -webkit-animation: pullIcon 1s forwards;
  }
  .commentsWrapper{
    display: inline-block;

    .holder {
      height: 100%;
      border: 1px solid #B0B0B0;
      background: transparent;
      display: inline-block;
      &.visible{
        right: 50px;
      }

    }
  }
  &.push {
    right: -65%;
  }
  &.pushLeft {
    animation: push 1s forwards;
    -webkit-animation: push 1s forwards;
  }
  &.pullLeft {
    animation: pull 1s forwards;
    -webkit-animation: pull  1s forwards;
  }
  .hide {
    display: none;
  }
}
