@keyframes pull {
  0% {
    right: -50%; }

  100% {
    right: 5px; } }
@-webkit-keyframes pull {
  0% {
    right: -50%; }

  100% {
    right: 5px; } }
@keyframes push {
  0% {
    right: 5px; }

  100% {
    right: -50%; } }
@-webkit-keyframes push {
  0% {
    right: 5px; }

  100% {
    right: -50%; } }
@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon.eot?-v1jwtk");
  src: url("./fonts/icomoon.eot?#iefix-v1jwtk") format("embedded-opentype"), url("./fonts/icomoon.woff?-v1jwtk") format("woff"), url("./fonts/icomoon.ttf?-v1jwtk") format("truetype"), url("./fonts/icomoon.svg?-v1jwtk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-size: 200%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-google-plus:before {
  content: "\e600"; }

.icon-facebook:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-reddit:before {
  content: "\e603"; }

.icon-windows8:before {
  content: "\e604"; }

@media (min-width: 1920px) and (max-width: 2560px) {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 300%; } }
@media (min-width: 1441px) and (max-width: 1920px) {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 300%; } }
@media (min-width: 1367px) and (max-width: 1440px) {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 300%; } }
@media (min-width: 1025px) and (max-width: 1366px) {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 350%; } }
@media (min-width: 321px) and (max-width: 1024px) {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 400%; } }
.sidebar .gplus {
  display: inline-block;
  vertical-align: top; }
  .sidebar .gplus .title-icon.gplus {
    border-bottom: 3px solid #1BA1E2; }
  .sidebar .gplus .button.gPlusLogin {
    background: #7BA5EB;
    width: inherit; }
  .sidebar .gplus .tabBody.gplus {
    display: inline-block; }

.sidebar {
  animation: push 1s forwards;
  -webkit-animation: push 1s forwards;
  padding: 30px 0px;
  background: transparent;
  display: inline-block;
  position: fixed;
  margin: 0px 15px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  z-index: 10000009922;
  position: fixed;
  top: 0; }
  .sidebar .commentsWrapper {
    display: inline-block; }
    .sidebar .commentsWrapper .holder {
      height: 100%;
      border: 1px solid #B0B0B0;
      background: transparent;
      display: inline-block; }
      .sidebar .commentsWrapper .holder.visible {
        right: 50px; }
  .sidebar.pullLeft {
    animation: pull 1s forwards;
    -webkit-animation: pull 1s forwards; }
  .sidebar .hide {
    display: none; }
